// Colors
$primary: #51afe3;
$primary-lighten-25: lighten($primary, 25%);
$primary-lighten-50: lighten($primary, 50%);
$primary-lighten-75: lighten($primary, 75%);
$primary-darken-25: darken($primary, 25%);
$primary-darken-50: darken($primary, 50%);
$primary-darken-75: darken($primary, 75%);
$light: #fff;
$dark: #000;

// Helper
$ilp: 70px;
