.ss-hero {
    width: 100%;
    height: 100vh;
    position: relative;
    padding-left: $ilp;

    @media screen and (max-width: 993px) {
        padding-left: 0;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;

        @media screen and (max-width: 692px) {
            height: 50%;
        }
    }

    .ss-hero-info {
        width: 55%;
        height: fit-content;
        position: absolute;
        bottom: 5%;
        z-index: 2;
        left: calc(70px + 5%);
        padding: 1rem 2rem;

        @media screen and (max-width: 992px) {
            left: 5%;
            height: 50%;
            width: 80%;
        }

        @media screen and (max-width: 692px) {
            width: 100%;
            bottom: 0;
            left: 0;
        }

        .ss-info-date {
            h4 {
                @include font(15px, 400, $light);
                margin: 0;

                @media screen and (max-width: 993px) {
                    font-size: 13px;
                }
            }
        }

        h3 {
            @include font(20px, 400, $light, 27px);

            @media screen and (max-width: 993px) {
                font-size: 15px;
                line-height: 20px;
            }

            @media screen and (max-width: 412px) {
                font-size: 13px;
                line-height: 18px;
            }
        }

        h1 {
            @include font(55px, 700, $light, 60px);

            @media screen and (max-width: 993px) {
                font-size: 35px;
                line-height: 40px;
            }

            @media screen and (max-width: 412px) {
                font-size: 22px;
                line-height: 27px;
            }
        }

        p {
            @include font(16px, 400, $light, 22px);

            @media screen and (max-width: 993px) {
                font-size: 14px;
                line-height: 20px;
            }

            @media screen and (max-width: 412px) {
                font-size: 11px;
                line-height: 16px;
            }
        }

        .ss-info-divider {
            width: 100%;
            height: 1px;
            background: $light;
        }
    }

    .ss-hero-overlay {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba($primary, .6);
        z-index: 1;
        pointer-events: none;
    }
}
