.ss-desk-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: $ilp;
    background: $primary-darken-25;
    z-index: 4;
    transition: width .3s ease-out;
    overflow-x: hidden;

    &:hover {
        width: 20%;
    }

    #logo {
        width: 50px;
        margin: 1rem auto 0 auto;
        transition: width .3s ease-out;
    }

    .ss-desk-nav-items {
        display: flex;
        list-style-type: none;
        width: 100%;
        padding: 0;
        gap: 20px;
        flex-direction: row-reverse;
        transform: rotate(-90deg) translateX(-100%);
        transition: all .3s ease-out;

        li {

            a {
                @include font(15px, 400, $light);
                text-decoration: none;
            }
        }
    }
}

.ss-nav-expanded {
    padding-top: 20px;

    #logo {
        width: 150px;
    }

    .ss-desk-nav-items {
        margin-top: 20px;
        gap: 0;
        flex-direction: column;
        transform: unset;
        align-items: center;

        li {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color .3s ease-out;

            &:hover {
                background: $primary-darken-50;
            }

            a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

.ss-mob-nav {
    width: 100vw;
    height: 60px;
    background-color: $primary-darken-25;
    list-style: none;
    padding: 0 20px;
    margin: 0;
    position: fixed;
    top: 0;
    transition: all .4s ease-out;
    z-index: 10;
    display: flex;
    justify-content: space-between;

    &.active {
        height: 100vh;

        #logo {
            align-self: start;
            margin-top: 7.5px;
        }

        .ss-mob-nav-items {
            display: flex;
            padding-left: 0;
        }
    }

    #logo {
        height: 45px;
        object-fit: scale-down;
        display: inline !important;
        margin-top: 7.5px;
    }

    .ss-mob-nav-items {
        display: flex;
        align-items: center;
        justify-content: center;
        list-style: none;
        height: 100%;
        margin: 0;

        @media screen and (max-width: 693px) {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            flex-direction: column;
            gap: 20px;
            display: none;
        }

        li {
            a {
                @include font(15px, 400, $primary-lighten-50);
                padding: 10px;
                text-decoration: none;
            }
        }
    }
}

#ss-hamburger {
    width: 40px;
    height: 30px;
    flex-direction: column;
    align-content: center;
    justify-content: space-evenly;
    position: fixed;
    top: 30px;
    right: 2rem;
    transform: translateY(-50%);
    display: none;

    @media screen and (max-width: 693px) {
        display: inline-flex;
    }

    span {
        width: 85%;
        margin: 0 auto;
        height: 1px;
        background-color: $light;
        transition: all .4s ease-out;
    }

    &.active {
        & span:first-child {
            transform: rotate(405deg) translate(7px, 5px);
            height: 2px;
            width: 50%;
        }

        & span:nth-child(2) {
            opacity: 0;
        }

        & span:last-child {
            transform: rotate(-405deg) translate(6px, -4px);
            height: 2px;
            width: 50%;
        }
    }
}
